.mydescription {
  font-size: 1.45rem;
  margin-top: 1.5rem;
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  word-spacing: 2px;
}

.decription-link {
  display: inline-block;
  color: var(--textColor);
  border-bottom: 2.5px solid var(--themeColor);
  transition: all 0.4s;
}

.decription-link:hover {
  transform: translateY(3px);
  color: var(--themeColor);
}
