.timeline-icon {
  margin-top: 1rem;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.timeline-date {
  font-size: 1.1rem !important;
}

@media screen and (max-width: 30em) {
  /* 30em = 480px */
  .vertical-timeline-element--work {
    text-align: left;
  }
}
