.navitem a {
  display: inline-block;
  padding: 8px 12px;
  margin: 8px 0;
  letter-spacing: 1px;
  text-decoration: none;
  cursor: pointer;
}

.navicon {
  color: #fff;
  font-size: 2rem;
  transition: 0.4s;

  display: flex;
  gap: 1.25rem;
}

.navitem a:hover .navicon {
  color: var(--themeColor);
}

.navitem-active {
  color: var(--themeColor);
}
