#about {
  padding: 8rem 6rem;
  overflow-x: hidden;

  display: grid;
  grid-template-columns: 30rem 1fr;
  grid-template-rows: 1fr 32rem 10rem;
  gap: 3.5rem;
  justify-content: center;
}

.tab-btns {
  display: flex;
  gap: 2.5rem;
  grid-column: 1/-1;
  grid-row: 1;
}

.tab-btn {
  position: relative;
  font-size: 2.75rem;
  padding-bottom: 0.5rem;
  cursor: pointer;
}

.tab-active {
  color: var(--themeColor);
}

.tab-btn::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 20%;
  height: 3px;
  background-color: var(--themeColor);
  transition: all 0.3s;
}

.tab-active::after,
.tab-btn:hover::after {
  width: 100%;
}

.about-img {
  margin-top: 2rem;
  width: 100%;
  border-radius: 5px;
  box-shadow: var(--generalShadow);
}

.about-description {
  grid-row: 2 / -1;
  grid-column: 2;
  overflow: hidden;
}

.btn-contact {
  justify-self: center;
  align-self: center;
}

/* Breakpoints */

@media only screen and (max-width: 76em) {
  /* 76em = 1216px */
  #about {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .about-img {
    width: 50%;
    order: 1;
  }
  .tab-btns {
    justify-content: center;
    order: 2;
    gap: 4rem;
  }
  .about-description {
    order: 3;
    overflow: visible;
  }
  .btn-contact {
    order: 4;
  }
}

@media only screen and (max-width: 65em) {
  /* 65em = 1040px */
  #about {
    padding: 5rem 8rem;
  }
}

@media only screen and (max-width: 48em) {
  /* 48em = 768px */
  #about {
    padding: 5rem 3rem;
  }
  .about-container {
    gap: 2rem;
  }
}

@media only screen and (max-width: 35em) {
  /* 35em = 560px */
  .tab-btns {
    gap: 2rem;
  }
  .tab-btn {
    font-size: 2.2rem;
  }
}

@media only screen and (max-width: 30em) {
  /* 30em = 480px */
  .tab-btn {
    font-size: 1.8rem;
  }
}
