#projects {
  padding: 8rem 6rem;
}

.projects-header {
  font-weight: 400;
  margin-bottom: 3.5rem;
}

.projects-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 3.5rem;
  column-gap: 1.5rem;
  align-items: center;
}

/* Breakpoints */

@media only screen and (max-width: 76em) {
  /* 76em = 1216px */
  .projects-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 65em) {
  /* 65em = 1040px */
  #projects {
    padding: 5rem 8rem;
  }
}

@media only screen and (max-width: 48em) {
  /* 48em = 768px */
  #projects {
    padding: 5rem 3rem;
  }
}

@media only screen and (max-width: 42em) {
  /* 42em = 672px */
  .projects-header {
    text-align: center;
  }
}

@media only screen and (max-width: 35em) {
  /* 35em = 560px */
  .projects-container {
    grid-template-columns: 1fr;
  }
}
