header {
  position: fixed;
  left: 0;
  bottom: 0;
  top: 0;
  width: 35rem;
  padding: 2rem 4rem;

  overflow-y: auto;
  transition: all 0.8s ease-in-out;
  z-index: 199;

  display: flex;
  flex-direction: column;
  gap: 3rem;
  justify-content: space-evenly;
}

.top-icon {
  position: fixed;
  top: 25px;
  width: 5rem;
  height: 5rem;
  font-size: 2.25rem;
  text-align: center;
  background-color: var(--mainBGColor);
  color: var(--titleColor);

  border-radius: 50%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  z-index: 99;

  display: flex;
  justify-content: center;
  align-items: center;
}

.toggle-icon {
  display: none;
  z-index: 199;
  left: 25px;
}

.theme-icon {
  right: 25px;
}

.music-icon {
  right: 100px;
}

.icon-placement {
  margin-top: 1.375rem;
}

/* Mobile Sidebar movable */

.mobile-nav-active {
  left: 0;
}

/* Breakpoints */

@media only screen and (max-width: 65em) {
  /* 65em = 1040px */
  header {
    left: -35rem;
    opacity: 0.95;
  }
  .toggle-icon {
    display: block;
  }
}

@media only screen and (max-width: 30em) {
  /* 30em = 480px */
  header {
    width: 28rem;
  }
}
