#skills {
  position: relative;
  padding: 8rem 6rem 16rem;
}

.skill-header {
  font-weight: 400;
  margin-bottom: 3.5rem;
}

.skills-container {
  padding: 4rem 0;
  background-color: var(--cardColor);
  border-radius: 5px;
  box-shadow: var(--generalShadow);
}

.skill-imgs {
  display: grid;
  padding: 0 6rem;

  grid-template-columns: repeat(4, 1fr);
  gap: 6rem;
  justify-content: center;
  justify-items: center;
  align-items: center;
}

.skill-img {
  width: 6rem;
  transition: all 0.3s;
}

.skill-hover {
  cursor: pointer;
  transform: scale(1.2);
}

.skill-title {
  display: inline-block;
  position: absolute;
  left: 50%;
  bottom: 3.75rem;
  transform: translate(-50%, 0);

  font-size: 2.2rem;
  padding: 1rem 2rem;
  background-color: var(--cardColor);
  color: var(--titleColor);

  border-radius: 2.5rem;
  box-shadow: var(--generalShadow);
  animation: right-slide 0.4s ease;
}

/* Breakpoints */
@media only screen and (max-width: 65em) {
  /* 65em = 1040px */
  #skills {
    padding: 8rem 8rem 16rem;
  }
}

@media only screen and (max-width: 48em) {
  /* 48em = 768px */
  #skills {
    padding: 8rem 3rem 16rem;
  }
}

@media only screen and (max-width: 42em) {
  /* 42em = 672px */
  .skill-header {
    text-align: center;
  }

  .skill-imgs {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (max-width: 30em) {
  /* 30em = 480px */
  .skill-img {
    width: 4.5rem;
  }
}

/* Animation */

@keyframes right-slide {
  0% {
    transform: translateX(-30rem);
  }
}
