.social-icons {
  display: grid;
  grid-template-columns: repeat(6, 8rem);
  justify-content: center;
  justify-items: center;
  align-items: center;
  padding-top: 5rem;
}

.social-icons a:link {
  display: inline-block;
  font-size: 2.25rem;
  margin: 3px;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  text-align: center;
  background-color: var(--themeColor);
  transition: all 0.3s;
}

.social-icons a:hover {
  transform: translateY(2px);
  box-shadow: 0 0 1.25rem var(--themeColor);
}

.social-icon {
  height: 100%;
  width: 100%;
  color: #fff;

  display: flex;
  justify-content: center;
  align-items: center;
}

.share-food {
  font-size: 2rem;
  text-align: center;
  padding: 2.5rem 0;
}

@media only screen and (max-width: 30em) {
  /* 30em = 480px */
  .social-icons {
    grid-template-columns: repeat(4, 7.5rem);
    row-gap: 2rem;
  }
  .social-icons a:nth-child(5) {
    grid-column: 2/3;
  }
}
