.portfolio-box {
  position: relative;
  border-radius: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  display: flex;
}

.portfolio-box img {
  width: 100%;
  height: 15rem;
  transition: 0.5s ease;
  filter: brightness(85%);
}

.portfolio-box:hover img {
  transform: scale(1.1);
}

.portfolio-box h3 {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 100%;
  padding: 0.2rem 0;
  text-align: center;
  font-size: 1.6rem;
  color: #fff;
  transform: translate(-50%);
  background-image: linear-gradient(rgba(0, 0, 0, 0.15), var(--themeColor));
}

.portfolio-box:hover h3 {
  opacity: 0;
}

.portfolio-layer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), var(--themeColor));
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 0 1rem;
  color: #fff;
  transform: translateY(100%);
  transition: 0.5s ease;
}

.portfolio-box:hover .portfolio-layer {
  transform: translateY(0);
}

.portfolio-box:hover img {
  filter: blur(0.5px);
  opacity: 0.8;
}

.portfolio-layer p {
  font-size: 1.1rem;
  margin: 1rem 0;
}

.portfolio-btns {
  display: flex;
  gap: 2rem;
  margin-bottom: 1rem;
}

.portfolio-btns a {
  width: 4rem;
  height: 4rem;
  background-color: var(--titleColor);
  border-radius: 50%;
}

.portfolio-icon {
  font-size: 2rem;
  color: var(--cardColor);
  margin-top: 1rem;
}

/* Breakpoints */
@media only screen and (max-width: 65em) {
  .portfolio-box img {
    height: 100%;
  }
}

@media only screen and (max-width: 28em) {
  .portfolio-layer p {
    font-size: 1.4rem;
  }
}
