.scroll {
  position: fixed;
  right: -20%;
  padding: 0.625rem 1.5rem;
  font-size: 2.5rem;
  background-color: var(--themeColor);
  color: #fff;
  border-radius: 5px 0 0 5px;
  transition: 0.4s;
  cursor: pointer;
}

.scroll-up {
  bottom: 5rem;
}

.scroll-down {
  bottom: 11.25rem;
}

.scroll:hover {
  box-shadow: 0 0 1.25rem var(--themeColor);
}

.show-scroll {
  right: 0;
}
